.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
}
.right{
    background: whitesmoke;
    border-left: 2px solid black;
    display: grid;
    grid-template-rows:1fr 8fr 1fr ;
    
}
.left{
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
}

.messages{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    grid-gap: 5px;
    background: whitesmoke;
}

.header {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    width : 100%
}
.profile{
    background: whitesmoke;
}
.search{
    background: white;
}

.pimg{
    height:45px;
    width: 45px;
    border-radius: 40px;
}

.pimage{
    margin-top: 3%;
    margin-left: 2%;
}
.searchbar{
    height: 50%;
    width: 90%;
    margin-top: 4%;
    margin-left: 4%;
    border-radius: 40px;
}

.profileperson{
    height: 60px;
    width: 60px;
    border-radius: 45px;
}
.person{
    margin-top: 2%;
    margin-left: 2%;
}

.personbody{
    margin-top: 2%;
}
.message {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* align-content: space-between; */
}


.time{
    margin-top: -20%;
}

.hright{
    text-align: center;
    margin-top: 20%;
}

.rightHeader{
    /* background: burlywood; */
    display: grid;
    grid-template-columns: 1fr 7fr 1.5fr;
    /* box-shadow:5px rgb(126, 17, 17); */
}
.rightBody{
    /* background: cyan; */
    background-image: url("six.jpg");
}
.rightFooter {
    background: whitesmoke;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.chatprofile{
    background: whitesmoke;
}

.chatname {
    background: whitesmoke;
}

.chatmore{
    background: whitesmoke;
}

.chatprofileimage {
    height: 55px;
    width: 55px;
    border-radius: 40px;
    margin-top: 8%;
    margin-left: 45%;
}

.chatnameone{
    font-size: 20px;
}

.chatnametwo{
    /* font-size: 10px; */
    margin-top: -2%;
}

/* .rightBody{
    display: flex;
} */


.leftmessageone {
    text-align: end;
    margin-right: 2%;
    margin-left: 93.5%;   
    /* border: 1px solid black; */
    background: lightgreen;
    /* border-bottom: px solid black; */
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;

   
}

.leftmessagetwo {
    text-align: end;
    margin-right: 2%;
    margin-left: 87%;   
    /* border: 1px solid black; */
    background: lightgreen;
    /* border-bottom: px solid black; */
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;

    
   
}

.leftmessagethree {
    text-align: end;
    margin-right: 2%;
    margin-left: 83%;   
    /* border: 1px solid black; */
    background: lightgreen;
    /* border-bottom: px solid black; */
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;

}
.today{
    text-align: end;
    background: lightskyblue;
    margin-left: 46%;
    margin-right: 50%;
    border-radius: 4px;
    /* font-size: 15px; */
}
.rightmessageone{
    background: lightgoldenrodyellow;
    margin-right: 96%;
    margin-left:2%;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
}

.rightmessagetwo{
    background: lightgoldenrodyellow;
    margin-right: 91%;
    margin-left:2%;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
}


.messagebar{
    margin-top: 2%;
    border-radius: 50px;
    width: 90%;
    height: 60%;
}

.emoji{
    margin-top: 3%;
    font-size: 15px;
}

.attach{
    margin-top: 3%;
}

.mic{
    margin-top: 3%;
}

